[user]
	name = Daniel Metcalfe
	email = mrdanielmetcalfe@gmail.com
	signingkey = 93919C0B6B367BC3
[commit]
	gpgsign = true
[pull]
	rebase = false
[push]
	default = current
[core]
	editor = nvim
[diff]
	tool = vimdiff
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[difftool "vimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	cmd = nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
